<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.devcenter.android.chatbot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="co.devcenter.android.chatbot.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="co.devcenter.android.chatbot.SeperateActivity"
            android:parentActivityName="co.devcenter.android.chatbot.MainActivity"
            android:label="Seperate">

        </activity>

        <activity android:name="co.devcenter.android.chatbot.NoButtonActivity"
            android:parentActivityName="co.devcenter.android.chatbot.MainActivity"
            android:label="No Button">

        </activity>

        <activity android:name="co.devcenter.android.chatbot.InBarActivity"
            android:parentActivityName="co.devcenter.android.chatbot.MainActivity"
            android:label="Inside Bar">

        </activity>

    </application>

</manifest>